/* after nav */
h1 {
  color: green;
  text-align: center;
}
p {
  text-align: center;
  font-weight: 700;
  margin-bottom: 16px;
}

img {
  width: 480px;
  height: 350px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}
img:hover {
  width: 500px;
  height: 370px;
  transition: 0.3s ease;
}

.project-content {
  display: grid;
  max-width: 960px;
  margin: 60px auto;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 100px;
  grid-row-gap: 10px;
}
/*  */



    .grid{
  background-repeat: no-repeat;
 width: 100%;
  height: 350px;
  margin: auto;
    background-size: 100% 100%;

    
    border-radius: 30px;

}
.grid:hover{
 width: 500px;
  height: 370px;
  transition: 0.3s ease;
  cursor: pointer;
}

#dubai.day{
background-image: url("../images/DubaiMorning.jpg");
}
#dubai.night{
background-image:  url("../images/DubaiNight.jpg");
}


#paris.day{
background-image: url("../images/ParisMorning.jpeg");
}
#paris.night{
background-image: url("../images/ParisNight.jpg");
}

#newyork.day{
background-image: url("../images/NewyorkMorning.jpg");
}
#newyork.night{
background-image: url("../images/NewyorkNight.jpg");
}


#venice.day{
background-image: url("../images/VeniceMorning.jpg");
}
#venice.night{
background-image: url("../images/VeniceNight.jpg");
}

.project-content{
  margin: auto !important;
}
.grids{
  width: 100%;
}
.grid{
  margin-bottom: 40px;
}

  