/* after nav */
h1 {
  color: green;
  text-align: center;
}
p {
  text-align: center;
  font-weight: 700;
  margin-bottom: 16px;
}



.project-content {
  display: grid;
  max-width: 960px;
  margin: 60px auto;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 100px;
  grid-row-gap: 10px;
}
/*  */


 table button{
      float: left;
      margin: 5px;
    }

table td,table th{
  border: 1px solid grey;
}    